apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "app.fullname" . }}-config
  labels:
    {{- include "app.labels" . | nindent 4 }}
data:
  NODE_ENV: "dev"
  APP_PORT: "{{ .Values.containerPort }}"
